@page
 
@{
    ViewData["Title"] = "Order History";
    ViewData["ActivePage"] = ManageNavPages.Orders;
}
<h3>@ViewData["Title"]</h3>
<div class="row">
    <div id="order-history-container">
        test data
    </div>
</div>

@section Scripts {
    
}
