
@{
    ViewData["Title"] = "About";
}

<div id="about-template">
    
    
    <div class="container text-center">
        <div class="py-5">
            <h1>Our Brand</h1>

            <p class="intro-copy">Department Depot was a group created by Glenn Ray with our founders Alex Basine, Jackson Beaudette, Jackson Smith, &amp; David Nguyen since 1892.
               Somehow they have cross swords with Death to achieve the power to stop aging, and now devote their endless time into having one of the greatest 
               product lines across the ages. Old, young, wealthy, commoner, women, man, techy, or fashionista, we probably have the products for you!
            </p>
        </div>
        
        <h2>Meet our Founders</h2>
        
        <div class="row">
            <div class="col-md-6 profile-col">
                <img class="rounded-circle" src="https://images.unsplash.com/photo-1529230815964-592d9b61876f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=688&q=80" alt="Generic placeholder image" width="140" height="140">
                <h3 class="mt-3">David Nguyen</h3>
                <p class="text-muted">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>          
            </div>

            <div class="col-md-6 text-center profile-col">
                <img class="rounded-circle" src="https://images.unsplash.com/photo-1600682709692-4cf6e915457f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1496&q=80" alt="Generic placeholder image" width="140" height="140">
                <h3 class="mt-3">David Nguyen</h3>
                <p class="text-muted">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>          
            </div>

            <div class="col-md-6 text-center profile-col">
                <img class="rounded-circle" src="https://images.unsplash.com/flagged/photo-1574874897534-036671407eda?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=761&q=80" alt="Generic placeholder image" width="140" height="140">
                <h3 class="mt-3">David Nguyen</h3>
                <p class="text-muted">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>          
            </div>

            <div class="col-md-6 text-center profile-col">
                <img class="rounded-circle" src="https://images.unsplash.com/photo-1541855492-581f618f69a0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="Generic placeholder image" width="140" height="140">
                <h3 class="mt-3">David Nguyen</h3>
                <p class="text-muted">Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>          
            </div>
        </div>

    </div>

</div>


