@{
    ViewData["Title"] = "Home Page";
}

<div class="checkout-cart">
    <div id="checkout-cart-container">
        <template id="checkout-cart-item">
            <div class="checkout-cart-item">
                <h3 class="checkout-product-name"></h3>
                <p class="checkout-product-price"></p>
                <div class="item-quantity-container"></div>
                </div>
        </template>
    </div>
</div>
    
<div class="shipping">
    <div class="fields 1">
        <label class="field">
            <span class="field__label" for="firstname">First name</span>
            <input class="field__input" type="text" id="firstname" />
        </label>
        <label class="field">
            <span class="field__label" for="lastname">Last name</span>
            <input class="field__input" type="text" id="lastname" />
        </label>
    </div>

    <div class="fields 2">
        <label class="field">
            <span class="field__label" for="address">Address</span>
            <input class="field__input" type="text" id="address" />
        </label>
    </div>

    <div class="fields 3">
        <label class="field">
            <span class="field__label" for="country">Country</span>
            <select class="field__input" id="country">
                <option value=""></option>
                <option value="unitedstates">United States</option>
            </select>
        </label>
    </div>

    <div class="fields 4">
        <label class="field">
            <span class="field__label" for="zipcode">Zip code</span>
            <input class="field__input" type="text" id="zipcode" />
        </label>
        <label class="field">
            <span class="field__label" for="city">City</span>
            <input class="field__input" type="text" id="city" />
        </label>
        <label class="field">
            <span class="field__label" for="state">State</span>
            <input class="field__input" type="text" id="state" />
        </label>
    </div>
</div>

<div class="payment">
    <div class="card__container">
        <div class="card">
            <div class="row paypal">
                <div class="left">
                    <input id="pp" type="radio" name="payment" />
                    <div class="radio"></div>
                    <label for="pp">Paypal</label>
                </div>
            </div>
            <div class="row credit">
                <div class="left">
                    <input id="cd" type="radio" name="payment" />
                    <div class="radio"></div>
                    <label for="cd">Debit/ Credit Card</label>
                </div>
            </div>
            <div class="row cardholder">
                <div class="info">
                    <label for="cardholdername">Name</label>
                    <input placeholder="e.x. Jackson Smith" id="cardholdername" type="text" />
                </div>
            </div>
            <div class="row number">
                <div class="info">
                    <label for="cardnumber">Card number</label>
                    <input id="cardnumber" type="text" pattern="[0-9]{16,19}" maxlength="19" placeholder="0000-0000-0000-0000"/>
                </div>
            </div>
            <div class="row details">
                <div class="left">
                    <label for="expiration-date">Expiration</label>
                    <select id="expiration-date">
                        <option>MM</option>
                        <option value="1">01</option>
                        <option value="2">02</option>
                        <option value="3">03</option>
                        <option value="4">04</option>
                        <option value="5">05</option>
                        <option value="6">06</option>
                        <option value="7">07</option>
                        <option value="8">08</option>
                        <option value="9">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                    <span>/</span>
                     <select id="expiration-date">
                        <option>YYYY</option>
                        <option value="2021">2021</option>
                        <option value="2022">2022</option>
                        <option value="2023">2023</option>
                        <option value="2024">2024</option>
                        <option value="2025">2025</option>
                        <option value="2026">2026</option>
                        <option value="2027">2027</option>
                        <option value="2028">2028</option>
                        <option value="2029">2029</option>
                        <option value="2030">2030</option>
                    </select>
                </div>
                <div class="right">
                    <label for="cvv">CVC/CVV</label>
                    <input type="text" maxlength="4" placeholder="123"/>
                </div>
            </div>
        </div>
    </div>
    <div class="button">
        <a asp-area="" asp-controller="Home" asp-action="ConfirmCheckout">Confirm and Pay</a>
    </div>
</div>