
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div id="item-details-container">
</div>

<template>
    <div>
        <section>
            <div class="images-container"></div>
            <img class="main-image" />
            <div class="item-card">
                <h2 class="item-name"></h2>
                <p class="item-price"></p>
                <div class="item-quantity-container"></div>
            </div>
        </section>
        <section>
            <h3>About this item</h3>
            <p class="item-details"></p>
        </section>
    </div>
</template>