@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="main-container">
        <h1>Department Depot</h1>
        <div class="select-sort"> 
            <label for="sort">Sort by:</label>
                <select id="sort" name="sort">
                <option value="category">Category</option>
                <option value="rating">Rating</option>
                <option value="price-asc">Price-Asc</option>
                <option value="price-dec">Price-Dec</option>
                </select>
           
        </div>
        <div id="shop-container"></div>
        <template id="shop-row">
            <div class="shop-row">
                <h2 class="product-type"></h2>
                <div class="row-items"></div>
            </div>
        </template>
        <template id="shop-item">
            <div class="shop-item">
                <img src="" class="product-image">
                <h3 class="product-name"></h3>            
                <div class="Stars">
                    <p class="rating-count"></p>
                </div>      
                <p class="product-price"></p>
                <div class="item-quantity-container"></div>
            </div>
        </template>
    </div>
</div>
