@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <!--<div id="shop"></div>-->

    <div id="shop-container">
        <h1>Department Depot</h1>
        <template id="shop-row">
            <div class="shop-row">
                <h2 class="product-type"></h2>
                <div class="row-items"></div>
            </div>
        </template>
        <template id="shop-item">
            <div class="shop-item">
                <img src="" class="product-image">
                <h3 class="product-name"></h3>            
                <div class="Stars">
                    <p class="rating-count"></p>
                </div>      
                <p class="product-price"></p>
                <div class="item-quantity-container"></div>
            </div>
        </template>
    </div>
</div>
