@{
    ViewData["Title"] = "Sales Trends";
}
<h1>@ViewData["Title"]</h1>

<!--TODO: Find some chart api with example data and use that or get example dat and make a table-->
<p>Use this page to display sales trends.</p>
<div class="sales-trend-graphs">
    <img src="https://asp-group-images.s3.us-east-2.amazonaws.com/Sales/Sales-Cycle-Length-Dashboard.png" class="fake-sales-trends">
</div>