@{
    ViewData["Title"] = "Success";
}
<div id="success-page-container"></div>
<template id="success-page-template">
    <div class="left-side">
        <section class="top-section">
            <h1><span class="green-check"></span> Order placed, thanks!</h1>
            <p>Confirmation will be sent to your email</p>
            <p class="shipping-to"><strong>Shipping to FullName</strong>, 123 Adress St.,City, State, Zip </p>
        </section>
        <hr />
        <section class="bottom-section">
            <div>
                <h2 class="delivery-date">Thursday, Dec. 9</h2>
                <p>Estimated delivery</p>
            </div>
            <div class="ordered-item-images">
                 
            </div>
            <a href="~/Identity/Account/Manage/Orders">Review your recent orders ></a>
        </section>
    </div>
    <aside class="advertisement">
        <img src="https://picsum.photos/450/250" />
    </aside>
</template>